# PizzeriaSimulation


En esta simulacion buscaremos simular una pizzeria, y seguiremos la siguente logica:un cliente ordena la pizza, el empleado recibe el pedido y empiza a hacer la o las pizzas,una vez hecho el pedido se tiene que hornar, el espacio del horno es limitado,el horno tambien tiene un tiempo que se tarda en hacer las pizzaspor lo que en ciertos momentos, los pedidos se quedaran esperando que el horno se desocupe espacios.para esta simulacion tendremos los recursos de epleado, y horno,los espacios del horno lo manejaremos con contenedores y la cantidad de masas tambien seria un contenedorrecordando que las masas se hacen el dia anterior por lo que se cuenta con una cantidad finita y se repone dia a dia como lo que estamos simulando es solo un dia de trabajo no recargaremos las masas, asumendo que el dia siguente yaseria es otra simulacion

### l칩gica:

1. **Orden del cliente**: Un cliente realiza un pedido de pizza.
2. **Preparaci칩n del pedido**: El empleado recibe el pedido y comienza a preparar la(s) pizza(s).
3. **Horneado**: Una vez preparadas, las pizzas deben hornearse. Sin embargo, el espacio en el horno es limitado, y cada horneado toma un tiempo determinado, En ciertos momentos, algunos pedidos tendr치n que esperar hasta que se liberen espacios en el horno.

### Recursos

Para esta simulaci칩n, consideraremos los siguientes recursos:

- **Empleado**: Encargado de recibir y preparar los pedidos.
- **Horno**: Espacio limitado que se gestiona con contenedores para simular la capacidad disponible.

### Contenedores
- **Masa**: La cantidad de masa
- **Espacios en el horno**: La cantidad de espacios que el horno tiene disponibles

In [300]:
import simpy
import pandas as pd

import random

### Clase horno
En esta clase configuraremos las caracterista del horno, como seria el nombre, la capacidad del horno, la velocidad y los eventos del horno

In [301]:
class Oven:

    def __init__( self , env, name , baking_speed=8 , capacity_=5 ):

        self.env = env
        self.name = name
        self.baking_speed = baking_speed
        self.capacity= simpy.Container( env , init=capacity_ , capacity=capacity_)
        self.resource_Oven= simpy.Resource( env , capacity=capacity_ )

        self.dfO = pd.DataFrame({
            "name" : [name]
            , "baking_speed": [baking_speed]
            , "resource_capacity": [ capacity_ ]
        })

        self.dfE = pd.DataFrame()
        
    def bake_pizzas( self , number_pizzas, customer,employed ):
        while True:
            if self.capacity.level >= number_pizzas:
                yield self.capacity.get( number_pizzas )
                baking_time = self.baking_speed
                yield self.env.timeout(1)
                
                print( f" { self.env.now }: { self.name } is baking { number_pizzas } pizzas in { baking_time } minutes to {customer} " )
                df = pd.DataFrame({
                    "time": [ self.env.now ]
                    , "Oven": [ self.name ]
                    , "employed": [employed ]
                    , "customer" :[customer]
                    , "number_pizzas": [number_pizzas]
                    , "event": [ "baking pizzas" ]    
                })
    
                self.dfE = pd.concat( [self.dfE , df] )
                
                yield self.env.timeout( baking_time )
                yield self.capacity.put( number_pizzas )
                break
            
            print( f" { self.env.now }: { self.name } is ocuped {customer}!!!!!!!!!!!!!!!!!!!!!!!!!!!" )
            df = pd.DataFrame({
                    "time": [ self.env.now ]
                    , "Oven": [ self.name ]
                    , "employed": [employed ]
                    , "customer" :[customer]
                    , "number_pizzas": [number_pizzas]
                    , "event": [ "ocuped" ]    
                })
            self.dfE = pd.concat( [self.dfE , df] )

            yield self.env.timeout( 1 )

### Clase Empleado
En esta clase configuraremos las caracterista del Empleado, como seria el nombre, la velocidad y los eventos del Empleado

In [302]:
class Employed:
    def __init__(self,env,name,pizza_making_speed_pm):
        self.env = env
        self.name = name
        self.pizza_making_speed_pm = pizza_making_speed_pm
        self.resource_employed = simpy.Resource( env , capacity=1 )
        
        self.dfEp = pd.DataFrame({
            "name" : [self.name]
            , "pizza_making_speed_pm": [self.pizza_making_speed_pm]
        })
        
        self.dfE = pd.DataFrame()

    def make_pizza(self,doughs,oven,customer,number_pizzas):
        if doughs.level > number_pizzas:
            yield doughs.get( number_pizzas )
            pizza_making_time = self.pizza_making_speed_pm * number_pizzas
            yield self.env.timeout(1)
         
            print( f" { self.env.now }: { self.name } is meking { number_pizzas } pizzas in { pizza_making_time } minutes to {customer} " )
            df = pd.DataFrame({
                "time": [ self.env.now ]
                , "Oven": [ oven.name ]
                , "employed": [self.name]
                , "customer" :[customer]
                , "number_pizzas": [number_pizzas]
                , "event": [ "making pizzas" ]    
            })

            self.dfE = pd.concat( [self.dfE , df] )
            
            yield self.env.timeout( pizza_making_time )
            print( f" { self.env.now }: { self.name } is ready to bake { number_pizzas } pizzas in {oven.name},  to  {customer} " )

            with oven.resource_Oven.request() as request:
                yield request
                yield self.env.process( oven.bake_pizzas( number_pizzas, customer,self.name) )
                print( f" { self.env.now }:  { self.name } finished bake { number_pizzas } pizzas to { customer }  " )
                yield self.env.timeout( 1 )
        
        else :
            print( f" { self.env.now }: { self.name } does not have doughs!!!! for  {customer} " )
            df = pd.DataFrame({
                "time": [ self.env.now ]
                , "Oven": [ oven.name ]
                , "employed": [self.name]
                , "customer" :[customer]
                , "number_pizzas": [number_pizzas]
                , "event": [ "not have doughs" ]    
            })
            self.dfE = pd.concat( [self.dfE , df] )

### Clase Cliente
En esta clase configuraremos las caracterista del Cliente, como seria el nombre, la cantidad de pizzas a ordenar y los eventos del Empleado

In [303]:
class Customer:
    def __init__(self , env , name  , number_pizzas,oven,employed):
        self.env = env
        self.name = name
        self.number_pizzas= number_pizzas
        self.oven=oven
        self.employed=employed
        self.dfC = pd.DataFrame({
            "name" : [self.name]
            , "number_pizzas": [self.number_pizzas]
            , "employed_name": [ self.employed.name ]
        })

        self.dfE = pd.DataFrame()
        
    def order_pizza(self,doughs):
        
        print( f" { self.env.now }:  { self.name } is waiting to be attended " )
        df = pd.DataFrame({
            "time": [ self.env.now ]
            , "Oven": [ self.oven.name ]
            , "employed": [self.employed.name ]
            , "customer" :[self.name]
            , "number_pizzas": [self.number_pizzas]
            , "event": [ "waiting to be attended" ]
        })
        self.dfE = pd.concat( [self.dfE , df] )
        with self.employed.resource_employed.request() as request:
            yield request
            print( f" { self.env.now }:  { self.name } is ready to be attended by the { self.employed.name } " )
            yield self.env.process( self.employed.make_pizza( doughs,self.oven,self.name,self.number_pizzas) )
            print( f" { self.env.now }:  { self.name } was attended and leave the Pizzeria " )
            df = pd.DataFrame({
                "time": [ self.env.now ]
                , "Oven": [ self.oven.name ]
                , "employed": [self.employed.name ]
                , "customer" :[self.name]
                , "number_pizzas": [self.number_pizzas]
                , "event": [ "finished" ]    
            })
            self.dfE = pd.concat( [self.dfE , df] )
            yield self.env.timeout( 1 )

### Clase Pizzeria 
En esta clase es donde colocaremos la parametrizacion de la pizzera en general, la cantidad de empleados, hornos, clientes que tendra la simulacion

In [304]:
class Pizzeria:
    def __init__(self,env,num_employed,num_customers,num_oven,num_doughs):
        self.env=env
        self.num_customers=num_customers
        self.employees=[ Employed(
            env
            , f"Employed { i }"
            , random.randint( 4,8 )
        ) for i in range(num_employed) ]
        self.customers=[]
        self.ovens= [ Oven(
            env
            , f"Oven { i }"
            , random.randint( 8,10 )
            , random.randint( 5,10 )
        ) for i in range(num_oven) ]
        self.doughs=simpy.Container( env , init=num_doughs , capacity=num_doughs  )

        env.process( self.customers_arriving() )
        
    def customers_arriving(self):
        for i in range( self.num_customers):
            self.customers.append(Customer(
                env
                , f"Customer {i}"
                , random.randint( 1, 4 )
                , random.choice( self.ovens )
                , random.choice( self.employees )
            ))
            env.process( self.customers[i].order_pizza(self.doughs))
            yield self.env.timeout( random.randint( 1 , 20 ) ) ## Las personas llegan aleatoriamente entre 1 - 30 Minutos

## Iniciamos la simulaci칩ns

In [305]:
random.seed(111)

env = simpy.Environment()

pizzeria = Pizzeria( env , num_employed=2,num_customers=50,num_oven=1,num_doughs=150 )

env.run( until=480 ) ## 8 horas

 0:  Customer 0 is waiting to be attended
 0:  Customer 0 is ready to be attended by the Employed 0
 1: Employed 0 is meking 4 pizzas in 20 minutes to Customer 0
 7:  Customer 1 is waiting to be attended
 21: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 0
 22:  Customer 2 is waiting to be attended
 22: Oven 0 is baking 4 pizzas in 9 minutes to Customer 0
 22:  Customer 2 is ready to be attended by the Employed 1
 23: Employed 1 is meking 4 pizzas in 24 minutes to Customer 2
 31:  Employed 0 finished bake 4 pizzas to Customer 0
 32:  Customer 0 was attended and leave the Pizzeria
 33:  Customer 1 is ready to be attended by the Employed 0
 34: Employed 0 is meking 4 pizzas in 20 minutes to Customer 1
 35:  Customer 3 is waiting to be attended
 37:  Customer 4 is waiting to be attended
 47: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 2
 48: Oven 0 is baking 4 pizzas in 9 minutes to Customer 2
 51:  Customer 5 is waiting to be attended
 54: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 1
 54: Oven 0 is ocuped Customer 1!!!!!!!!!!!!!!!!!!!!!!!!!!!
 55: Oven 0 is ocuped Customer 1!!!!!!!!!!!!!!!!!!!!!!!!!!!
 56: Oven 0 is ocuped Customer 1!!!!!!!!!!!!!!!!!!!!!!!!!!!
 57:  Employed 1 finished bake 4 pizzas to Customer 2
 58: Oven 0 is baking 4 pizzas in 9 minutes to Customer 1
 58:  Customer 2 was attended and leave the Pizzeria
 59:  Customer 3 is ready to be attended by the Employed 1
 60: Employed 1 is meking 2 pizzas in 12 minutes to Customer 3
 61:  Customer 6 is waiting to be attended
 67:  Employed 0 finished bake 4 pizzas to Customer 1
 68:  Customer 7 is waiting to be attended
 68:  Customer 1 was attended and leave the Pizzeria
 69:  Customer 8 is waiting to be attended
 69:  Customer 5 is ready to be attended by the Employed 0
 70: Employed 0 is meking 1 pizzas in 5 minutes to Customer 5
 72: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 3
 73: Oven 0 is baking 2 pizzas in 9 minutes to Customer 3
 75: Employed 0 is ready to bake 1 pizzas in Oven 0,  to  Customer 5
 76: Oven 0 is baking 1 pizzas in 9 minutes to Customer 5
 82:  Employed 1 finished bake 2 pizzas to Customer 3
 83:  Customer 3 was attended and leave the Pizzeria
 84:  Customer 4 is ready to be attended by the Employed 1
 85:  Customer 9 is waiting to be attended
 85: Employed 1 is meking 3 pizzas in 18 minutes to Customer 4
 85:  Employed 0 finished bake 1 pizzas to Customer 5
 86:  Customer 10 is waiting to be attended
 86:  Customer 5 was attended and leave the Pizzeria
 87:  Customer 7 is ready to be attended by the Employed 0
 88: Employed 0 is meking 3 pizzas in 15 minutes to Customer 7
 103: Employed 1 is ready to bake 3 pizzas in Oven 0,  to  Customer 4
 103: Employed 0 is ready to bake 3 pizzas in Oven 0,  to  Customer 7
 104:  Customer 11 is waiting to be attended
 104: Oven 0 is baking 3 pizzas in 9 minutes to Customer 4
 104: Oven 0 is baking 3 pizzas in 9 minutes to Customer 7
 113:  Employed 1 finished bake 3 pizzas to Customer 4
 113:  Employed 0 finished bake 3 pizzas to Customer 7
 114:  Customer 4 was attended and leave the Pizzeria
 114:  Customer 7 was attended and leave the Pizzeria
 115:  Customer 6 is ready to be attended by the Employed 1
 115:  Customer 9 is ready to be attended by the Employed 0
 116: Employed 1 is meking 1 pizzas in 6 minutes to Customer 6
 116: Employed 0 is meking 4 pizzas in 20 minutes to Customer 9
 119:  Customer 12 is waiting to be attended
 122: Employed 1 is ready to bake 1 pizzas in Oven 0,  to  Customer 6
 123: Oven 0 is baking 1 pizzas in 9 minutes to Customer 6
 132:  Employed 1 finished bake 1 pizzas to Customer 6
 133:  Customer 6 was attended and leave the Pizzeria
 134:  Customer 8 is ready to be attended by the Employed 1
 135: Employed 1 is meking 4 pizzas in 24 minutes to Customer 8
 136: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 9
 137: Oven 0 is baking 4 pizzas in 9 minutes to Customer 9
 138:  Customer 13 is waiting to be attended
 143:  Customer 14 is waiting to be attended
 145:  Customer 15 is waiting to be attended
 146:  Employed 0 finished bake 4 pizzas to Customer 9
 147:  Customer 9 was attended and leave the Pizzeria
 148:  Customer 16 is waiting to be attended
 148:  Customer 11 is ready to be attended by the Employed 0
 149: Employed 0 is meking 1 pizzas in 5 minutes to Customer 11
 154: Employed 0 is ready to bake 1 pizzas in Oven 0,  to  Customer 11
 155: Oven 0 is baking 1 pizzas in 9 minutes to Customer 11
 156:  Customer 17 is waiting to be attended
 159: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 8
 160: Oven 0 is baking 4 pizzas in 9 minutes to Customer 8
 164:  Employed 0 finished bake 1 pizzas to Customer 11
 165:  Customer 11 was attended and leave the Pizzeria
 166:  Customer 13 is ready to be attended by the Employed 0
 167: Employed 0 is meking 4 pizzas in 20 minutes to Customer 13
 169:  Employed 1 finished bake 4 pizzas to Customer 8
 170:  Customer 8 was attended and leave the Pizzeria
 171:  Customer 10 is ready to be attended by the Employed 1
 172: Employed 1 is meking 2 pizzas in 12 minutes to Customer 10
 173:  Customer 18 is waiting to be attended
 177:  Customer 19 is waiting to be attended
 184: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 10
 185: Oven 0 is baking 2 pizzas in 9 minutes to Customer 10
 187: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 13
 188: Oven 0 is baking 4 pizzas in 9 minutes to Customer 13
 191:  Customer 20 is waiting to be attended
 194:  Employed 1 finished bake 2 pizzas to Customer 10
 195:  Customer 10 was attended and leave the Pizzeria
 196:  Customer 12 is ready to be attended by the Employed 1
 197: Employed 1 is meking 2 pizzas in 12 minutes to Customer 12
 197:  Employed 0 finished bake 4 pizzas to Customer 13
 198:  Customer 13 was attended and leave the Pizzeria
 199:  Customer 17 is ready to be attended by the Employed 0
 200: Employed 0 is meking 2 pizzas in 10 minutes to Customer 17
 207:  Customer 21 is waiting to be attended
 208:  Customer 22 is waiting to be attended
 209: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 12
 210: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 17
 210: Oven 0 is baking 2 pizzas in 9 minutes to Customer 12
 211: Oven 0 is baking 2 pizzas in 9 minutes to Customer 17
 219:  Employed 1 finished bake 2 pizzas to Customer 12
 220:  Customer 12 was attended and leave the Pizzeria
 220:  Employed 0 finished bake 2 pizzas to Customer 17
 221:  Customer 17 was attended and leave the Pizzeria
 221:  Customer 14 is ready to be attended by the Employed 1
 222: Employed 1 is meking 2 pizzas in 12 minutes to Customer 14
 222:  Customer 18 is ready to be attended by the Employed 0
 223: Employed 0 is meking 4 pizzas in 20 minutes to Customer 18
 228:  Customer 23 is waiting to be attended
 234: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 14
 235: Oven 0 is baking 2 pizzas in 9 minutes to Customer 14
 243: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 18
 244: Oven 0 is baking 4 pizzas in 9 minutes to Customer 18
 244:  Employed 1 finished bake 2 pizzas to Customer 14
 245:  Customer 14 was attended and leave the Pizzeria
 246:  Customer 24 is waiting to be attended
 246:  Customer 15 is ready to be attended by the Employed 1
 247: Employed 1 is meking 4 pizzas in 24 minutes to Customer 15
 253:  Customer 25 is waiting to be attended
 253:  Employed 0 finished bake 4 pizzas to Customer 18
 254:  Customer 18 was attended and leave the Pizzeria
 255:  Customer 19 is ready to be attended by the Employed 0
 256: Employed 0 is meking 3 pizzas in 15 minutes to Customer 19
 267:  Customer 26 is waiting to be attended
 271: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 15
 271: Employed 0 is ready to bake 3 pizzas in Oven 0,  to  Customer 19
 271: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 272: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 272: Oven 0 is baking 4 pizzas in 9 minutes to Customer 15
 273: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 274: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 275: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 276: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 277: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 278: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 279: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 280:  Customer 27 is waiting to be attended
 280: Oven 0 is ocuped Customer 19!!!!!!!!!!!!!!!!!!!!!!!!!!!
 281:  Employed 1 finished bake 4 pizzas to Customer 15
 282: Oven 0 is baking 3 pizzas in 9 minutes to Customer 19
 282:  Customer 15 was attended and leave the Pizzeria
 283:  Customer 16 is ready to be attended by the Employed 1
 284: Employed 1 is meking 1 pizzas in 6 minutes to Customer 16
 290: Employed 1 is ready to bake 1 pizzas in Oven 0,  to  Customer 16
 291: Oven 0 is baking 1 pizzas in 9 minutes to Customer 16
 291:  Employed 0 finished bake 3 pizzas to Customer 19
 292:  Customer 19 was attended and leave the Pizzeria
 293:  Customer 28 is waiting to be attended
 293:  Customer 20 is ready to be attended by the Employed 0
 294:  Customer 29 is waiting to be attended
 294: Employed 0 is meking 2 pizzas in 10 minutes to Customer 20
 300:  Employed 1 finished bake 1 pizzas to Customer 16
 301:  Customer 16 was attended and leave the Pizzeria
 302:  Customer 22 is ready to be attended by the Employed 1
 303: Employed 1 is meking 2 pizzas in 12 minutes to Customer 22
 304: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 20
 305: Oven 0 is baking 2 pizzas in 9 minutes to Customer 20
 313:  Customer 30 is waiting to be attended
 314:  Employed 0 finished bake 2 pizzas to Customer 20
 315: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 22
 315:  Customer 20 was attended and leave the Pizzeria
 316:  Customer 31 is waiting to be attended
 316: Oven 0 is baking 2 pizzas in 9 minutes to Customer 22
 316:  Customer 21 is ready to be attended by the Employed 0
 317: Employed 0 is meking 4 pizzas in 20 minutes to Customer 21
 325:  Employed 1 finished bake 2 pizzas to Customer 22
 326:  Customer 32 is waiting to be attended
 326:  Customer 22 was attended and leave the Pizzeria
 327:  Customer 24 is ready to be attended by the Employed 1
 328: Employed 1 is meking 3 pizzas in 18 minutes to Customer 24
 337: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 21
 338: Oven 0 is baking 4 pizzas in 9 minutes to Customer 21
 345:  Customer 33 is waiting to be attended
 346: Employed 1 is ready to bake 3 pizzas in Oven 0,  to  Customer 24
 346: Oven 0 is ocuped Customer 24!!!!!!!!!!!!!!!!!!!!!!!!!!!
 347:  Employed 0 finished bake 4 pizzas to Customer 21
 348: Oven 0 is baking 3 pizzas in 9 minutes to Customer 24
 348:  Customer 21 was attended and leave the Pizzeria
 349:  Customer 23 is ready to be attended by the Employed 0
 350: Employed 0 is meking 1 pizzas in 5 minutes to Customer 23
 355: Employed 0 is ready to bake 1 pizzas in Oven 0,  to  Customer 23
 356: Oven 0 is baking 1 pizzas in 9 minutes to Customer 23
 357:  Customer 34 is waiting to be attended
 357:  Employed 1 finished bake 3 pizzas to Customer 24
 358:  Customer 24 was attended and leave the Pizzeria
 359:  Customer 33 is ready to be attended by the Employed 1
 360: Employed 1 is meking 4 pizzas in 24 minutes to Customer 33
 365:  Employed 0 finished bake 1 pizzas to Customer 23
 366:  Customer 23 was attended and leave the Pizzeria
 367:  Customer 35 is waiting to be attended
 367:  Customer 25 is ready to be attended by the Employed 0
 368: Employed 0 is meking 3 pizzas in 15 minutes to Customer 25
 383: Employed 0 is ready to bake 3 pizzas in Oven 0,  to  Customer 25
 384: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 33
 384:  Customer 36 is waiting to be attended
 384: Oven 0 is baking 3 pizzas in 9 minutes to Customer 25
 384: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 385: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 386: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 387: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 388: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 389: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 390: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 391: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 392: Oven 0 is ocuped Customer 33!!!!!!!!!!!!!!!!!!!!!!!!!!!
 393:  Employed 0 finished bake 3 pizzas to Customer 25
 394: Oven 0 is baking 4 pizzas in 9 minutes to Customer 33
 394:  Customer 25 was attended and leave the Pizzeria
 395:  Customer 26 is ready to be attended by the Employed 0
 396: Employed 0 is meking 3 pizzas in 15 minutes to Customer 26
 402:  Customer 37 is waiting to be attended
 403:  Employed 1 finished bake 4 pizzas to Customer 33
 404:  Customer 33 was attended and leave the Pizzeria
 405:  Customer 34 is ready to be attended by the Employed 1
 406: Employed 1 is meking 4 pizzas in 24 minutes to Customer 34
 411: Employed 0 is ready to bake 3 pizzas in Oven 0,  to  Customer 26
 412: Oven 0 is baking 3 pizzas in 9 minutes to Customer 26
 417:  Customer 38 is waiting to be attended
 421:  Employed 0 finished bake 3 pizzas to Customer 26
 422:  Customer 26 was attended and leave the Pizzeria
 423:  Customer 27 is ready to be attended by the Employed 0
 424: Employed 0 is meking 3 pizzas in 15 minutes to Customer 27
 430: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 34
 430:  Customer 39 is waiting to be attended
 431: Oven 0 is baking 4 pizzas in 9 minutes to Customer 34
 439: Employed 0 is ready to bake 3 pizzas in Oven 0,  to  Customer 27
 439:  Customer 40 is waiting to be attended
 439: Oven 0 is ocuped Customer 27!!!!!!!!!!!!!!!!!!!!!!!!!!!
 440:  Employed 1 finished bake 4 pizzas to Customer 34
 441: Oven 0 is baking 3 pizzas in 9 minutes to Customer 27
 441:  Customer 34 was attended and leave the Pizzeria
 442:  Customer 35 is ready to be attended by the Employed 1
 443: Employed 1 is meking 1 pizzas in 6 minutes to Customer 35
 449: Employed 1 is ready to bake 1 pizzas in Oven 0,  to  Customer 35
 450: Oven 0 is baking 1 pizzas in 9 minutes to Customer 35
 450:  Employed 0 finished bake 3 pizzas to Customer 27
 451:  Customer 27 was attended and leave the Pizzeria
 452:  Customer 41 is waiting to be attended
 452:  Customer 28 is ready to be attended by the Employed 0
 453: Employed 0 is meking 2 pizzas in 10 minutes to Customer 28
 457:  Customer 42 is waiting to be attended
 459:  Employed 1 finished bake 1 pizzas to Customer 35
 460:  Customer 35 was attended and leave the Pizzeria
 461:  Customer 36 is ready to be attended by the Employed 1
 462: Employed 1 is meking 1 pizzas in 6 minutes to Customer 36
 463: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 28
 464: Oven 0 is baking 2 pizzas in 9 minutes to Customer 28
 468: Employed 1 is ready to bake 1 pizzas in Oven 0,  to  Customer 36
 469: Oven 0 is baking 1 pizzas in 9 minutes to Customer 36
 472:  Customer 43 is waiting to be attended
 473:  Employed 0 finished bake 2 pizzas to Customer 28
 474:  Customer 28 was attended and leave the Pizzeria
 475:  Customer 29 is ready to be attended by the Employed 0
 476: Employed 0 is meking 2 pizzas in 10 minutes to Customer 29
 478:  Employed 1 finished bake 1 pizzas to Customer 36
 479:  Customer 36 was attended and leave the Pizzeria

## recolectamos el dataframe de hornos y empezamos a unir el dataframe de Eventos

In [306]:
df_events = pd.DataFrame()

In [307]:
df_ovens = pd.DataFrame()

for p in pizzeria.ovens:
    df_ovens = pd.concat( [ df_ovens , p.dfO ] )
    df_events = pd.concat( [ df_events , p.dfE ] )

In [308]:
df_ovens

     name  baking_speed  resource_capacity
0  Oven 0             9                  6

In [309]:
df_events

   time    Oven    employed     customer  number_pizzas          event
0    22  Oven 0  Employed 0   Customer 0              4  baking pizzas
0    48  Oven 0  Employed 1   Customer 2              4  baking pizzas
0    54  Oven 0  Employed 0   Customer 1              4         ocuped
0    55  Oven 0  Employed 0   Customer 1              4         ocuped
0    56  Oven 0  Employed 0   Customer 1              4         ocuped
0    58  Oven 0  Employed 0   Customer 1              4  baking pizzas
0    73  Oven 0  Employed 1   Customer 3              2  baking pizzas
0    76  Oven 0  Employed 0   Customer 5              1  baking pizzas
0   104  Oven 0  Employed 1   Customer 4              3  baking pizzas
0   104  Oven 0  Employed 0   Customer 7              3  baking pizzas
0   123  Oven 0  Employed 1   Customer 6              1  baking pizzas
0   137  Oven 0  Employed 0   Customer 9              4  baking pizzas
0   155  Oven 0  Employed 0  Customer 11              1  baking pizzas
0   160  Oven 0  Employed 1   Customer 8              4  baking pizzas
0   185  Oven 0  Employed 1  Customer 10              2  baking pizzas
0   188  Oven 0  Employed 0  Customer 13              4  baking pizzas
0   210  Oven 0  Employed 1  Customer 12              2  baking pizzas
0   211  Oven 0  Employed 0  Customer 17              2  baking pizzas
0   235  Oven 0  Employed 1  Customer 14              2  baking pizzas
0   244  Oven 0  Employed 0  Customer 18              4  baking pizzas
0   271  Oven 0  Employed 0  Customer 19              3         ocuped
0   272  Oven 0  Employed 0  Customer 19              3         ocuped
0   272  Oven 0  Employed 1  Customer 15              4  baking pizzas
0   273  Oven 0  Employed 0  Customer 19              3         ocuped
0   274  Oven 0  Employed 0  Customer 19              3         ocuped
0   275  Oven 0  Employed 0  Customer 19              3         ocuped
0   276  Oven 0  Employed 0  Customer 19              3         ocuped
0   277  Oven 0  Employed 0  Customer 19              3         ocuped
0   278  Oven 0  Employed 0  Customer 19              3         ocuped
0   279  Oven 0  Employed 0  Customer 19              3         ocuped
0   280  Oven 0  Employed 0  Customer 19              3         ocuped
0   282  Oven 0  Employed 0  Customer 19              3  baking pizzas
0   291  Oven 0  Employed 1  Customer 16              1  baking pizzas
0   305  Oven 0  Employed 0  Customer 20              2  baking pizzas
0   316  Oven 0  Employed 1  Customer 22              2  baking pizzas
0   338  Oven 0  Employed 0  Customer 21              4  baking pizzas
0   346  Oven 0  Employed 1  Customer 24              3         ocuped
0   348  Oven 0  Employed 1  Customer 24              3  baking pizzas
0   356  Oven 0  Employed 0  Customer 23              1  baking pizzas
0   384  Oven 0  Employed 0  Customer 25              3  baking pizzas
0   384  Oven 0  Employed 1  Customer 33              4         ocuped
0   385  Oven 0  Employed 1  Customer 33              4         ocuped
0   386  Oven 0  Employed 1  Customer 33              4         ocuped
0   387  Oven 0  Employed 1  Customer 33              4         ocuped
0   388  Oven 0  Employed 1  Customer 33              4         ocuped
0   389  Oven 0  Employed 1  Customer 33              4         ocuped
0   390  Oven 0  Employed 1  Customer 33              4         ocuped
0   391  Oven 0  Employed 1  Customer 33              4         ocuped
0   392  Oven 0  Employed 1  Customer 33              4         ocuped
0   394  Oven 0  Employed 1  Customer 33              4  baking pizzas
0   412  Oven 0  Employed 0  Customer 26              3  baking pizzas
0   431  Oven 0  Employed 1  Customer 34              4  baking pizzas
0   439  Oven 0  Employed 0  Customer 27              3         ocuped
0   441  Oven 0  Employed 0  Customer 27              3  baking pizzas
0   450  Oven 0  Employed 1  Customer 35              1  baking pizzas
0   464  Oven 0  Employed 0  Customer 28              2  baking pizzas
0   469  Oven 0  Employed 1  Customer 36              1  baking pizzas

## recolectamos el dataframe de clientes y empezamos a unir el dataframe de Eventos

In [310]:
df_customers = pd.DataFrame()

for p in pizzeria.customers:
    df_customers = pd.concat( [ df_customers , p.dfC ] )
    df_events = pd.concat( [ df_events , p.dfE ] )

In [311]:
df_customers

          name  number_pizzas employed_name
0   Customer 0              4    Employed 0
0   Customer 1              4    Employed 0
0   Customer 2              4    Employed 1
0   Customer 3              2    Employed 1
0   Customer 4              3    Employed 1
0   Customer 5              1    Employed 0
0   Customer 6              1    Employed 1
0   Customer 7              3    Employed 0
0   Customer 8              4    Employed 1
0   Customer 9              4    Employed 0
0  Customer 10              2    Employed 1
0  Customer 11              1    Employed 0
0  Customer 12              2    Employed 1
0  Customer 13              4    Employed 0
0  Customer 14              2    Employed 1
0  Customer 15              4    Employed 1
0  Customer 16              1    Employed 1
0  Customer 17              2    Employed 0
0  Customer 18              4    Employed 0
0  Customer 19              3    Employed 0
0  Customer 20              2    Employed 0
0  Customer 21              4    Employed 0
0  Customer 22              2    Employed 1
0  Customer 23              1    Employed 0
0  Customer 24              3    Employed 1
0  Customer 25              3    Employed 0
0  Customer 26              3    Employed 0
0  Customer 27              3    Employed 0
0  Customer 28              2    Employed 0
0  Customer 29              2    Employed 0
0  Customer 30              3    Employed 0
0  Customer 31              3    Employed 0
0  Customer 32              2    Employed 0
0  Customer 33              4    Employed 1
0  Customer 34              4    Employed 1
0  Customer 35              1    Employed 1
0  Customer 36              1    Employed 1
0  Customer 37              3    Employed 1
0  Customer 38              1    Employed 0
0  Customer 39              4    Employed 0
0  Customer 40              2    Employed 1
0  Customer 41              1    Employed 1
0  Customer 42              4    Employed 1
0  Customer 43              4    Employed 0

In [312]:
df_events

,time,Oven,employed,customer,number_pizzas,event
0,22,Oven 0,Employed 0,Customer 0,4,baking pizzas
0,48,Oven 0,Employed 1,Customer 2,4,baking pizzas
0,54,Oven 0,Employed 0,Customer 1,4,ocuped
0,55,Oven 0,Employed 0,Customer 1,4,ocuped
0,56,Oven 0,Employed 0,Customer 1,4,ocuped
...,...,...,...,...,...,...
0,430,Oven 0,Employed 0,Customer 39,4,waiting to be attended
0,439,Oven 0,Employed 1,Customer 40,2,waiting to be attended
0,452,Oven 0,Employed 1,Customer 41,1,waiting to be attended
0,457,Oven 0,Employed 1,Customer 42,4,waiting to be attended
0,472,Oven 0,Employed 0,Customer 43,4,waiting to be attended

## recolectamos el dataframe de empleados y empezamos a unir el dataframe de Eventos

In [313]:
df_employees = pd.DataFrame()

for p in pizzeria.employees:
    df_employees = pd.concat( [ df_employees , p.dfEp ] )
    df_events = pd.concat( [ df_events , p.dfE ] )

In [314]:
df_employees

         name  pizza_making_speed_pm
0  Employed 0                      5
0  Employed 1                      6

In [315]:
df_events

    time    Oven    employed     customer  number_pizzas          event
0     22  Oven 0  Employed 0   Customer 0              4  baking pizzas
0     48  Oven 0  Employed 1   Customer 2              4  baking pizzas
0     54  Oven 0  Employed 0   Customer 1              4         ocuped
0     55  Oven 0  Employed 0   Customer 1              4         ocuped
0     56  Oven 0  Employed 0   Customer 1              4         ocuped
..   ...     ...         ...          ...            ...            ...
0    328  Oven 0  Employed 1  Customer 24              3  making pizzas
0    360  Oven 0  Employed 1  Customer 33              4  making pizzas
0    406  Oven 0  Employed 1  Customer 34              4  making pizzas
0    443  Oven 0  Employed 1  Customer 35              1  making pizzas
0    462  Oven 0  Employed 1  Customer 36              1  making pizzas

[168 rows x 6 columns]

## Analisis

empezaremos analizando cuanto tiempo estuvo el horno atrazando los pedidos por que estaba ocupado

In [316]:
sampleOcuped = df_events.loc[
    df_events["event"] == "ocuped"
    , :
].sort_values(  "time" )

In [317]:
sampleOcuped

   time    Oven    employed     customer  number_pizzas   event
0    54  Oven 0  Employed 0   Customer 1              4  ocuped
0    55  Oven 0  Employed 0   Customer 1              4  ocuped
0    56  Oven 0  Employed 0   Customer 1              4  ocuped
0   271  Oven 0  Employed 0  Customer 19              3  ocuped
0   272  Oven 0  Employed 0  Customer 19              3  ocuped
0   273  Oven 0  Employed 0  Customer 19              3  ocuped
0   274  Oven 0  Employed 0  Customer 19              3  ocuped
0   275  Oven 0  Employed 0  Customer 19              3  ocuped
0   276  Oven 0  Employed 0  Customer 19              3  ocuped
0   277  Oven 0  Employed 0  Customer 19              3  ocuped
0   278  Oven 0  Employed 0  Customer 19              3  ocuped
0   279  Oven 0  Employed 0  Customer 19              3  ocuped
0   280  Oven 0  Employed 0  Customer 19              3  ocuped
0   346  Oven 0  Employed 1  Customer 24              3  ocuped
0   384  Oven 0  Employed 1  Customer 33              4  ocuped
0   385  Oven 0  Employed 1  Customer 33              4  ocuped
0   386  Oven 0  Employed 1  Customer 33              4  ocuped
0   387  Oven 0  Employed 1  Customer 33              4  ocuped
0   388  Oven 0  Employed 1  Customer 33              4  ocuped
0   389  Oven 0  Employed 1  Customer 33              4  ocuped
0   390  Oven 0  Employed 1  Customer 33              4  ocuped
0   391  Oven 0  Employed 1  Customer 33              4  ocuped
0   392  Oven 0  Employed 1  Customer 33              4  ocuped
0   439  Oven 0  Employed 0  Customer 27              3  ocuped

In [318]:
sampleOcuped = df_events.loc[
    df_events["event"] == "ocuped"
    , :
].sort_values(  "time"   
).groupby(
    ["customer"]
    , as_index=False
).agg({
     "time": ["count"]
})

In [319]:
sampleOcuped

      customer  time
               count
0   Customer 1     3
1  Customer 19    10
2  Customer 24     1
3  Customer 27     1
4  Customer 33     9

como vemos sololamente 5 clientes se atrazaron por el horno ocupado, y en general fue poco tiempo 
por lo que podemos deducir que en esta simulacion otro horno no haria mucha diferencia en la atencion de los pedidos

ahora analizaremos cuanto tiempo nos tardamos en atender a los clientes desde que 
ordenan la pizzas hasta que se finaliza la entrega de las pizzas

In [320]:
sample2 = df_events.sort_values(  ["customer","time"]   )

vamos a tener que hacer varias limpiezas a los datos por que queremos saver el tiempo promedio de atencion y no debemos tomar en cuenta los clientes que no tubieron los 3 eventos (	waiting to be attended, baking pizzas,finished), por que si no esta el evento baking pizzas y si estan los otros dos eventos, significa que no habian masas y realmente no se atendio la persona, y si no esta el evento finished pero si los otros dos,significa que no se le termino de atender en lo que se hizo la simulacion, para estos casos no se tomaran en cuenta los tiempos para el calculo del tiempo promedio de atencion

In [321]:
sample2.loc[:]

,time,Oven,employed,customer,number_pizzas,event
0,0,Oven 0,Employed 0,Customer 0,4,waiting to be attended
0,1,Oven 0,Employed 0,Customer 0,4,making pizzas
0,22,Oven 0,Employed 0,Customer 0,4,baking pizzas
0,32,Oven 0,Employed 0,Customer 0,4,finished
0,7,Oven 0,Employed 0,Customer 1,4,waiting to be attended
...,...,...,...,...,...,...
0,170,Oven 0,Employed 1,Customer 8,4,finished
0,85,Oven 0,Employed 0,Customer 9,4,waiting to be attended
0,116,Oven 0,Employed 0,Customer 9,4,making pizzas
0,137,Oven 0,Employed 0,Customer 9,4,baking pizzas
0,147,Oven 0,Employed 0,Customer 9,4,finished

quitamos hacemos un flitro para que solo aparezcan los 3 eventos que ocupamos

In [322]:
df_filtered = sample2[sample2['event'].isin(['waiting to be attended', 'finished','baking pizzas'])]

In [323]:
df_filtered

,time,Oven,employed,customer,number_pizzas,event
0,0,Oven 0,Employed 0,Customer 0,4,waiting to be attended
0,22,Oven 0,Employed 0,Customer 0,4,baking pizzas
0,32,Oven 0,Employed 0,Customer 0,4,finished
0,7,Oven 0,Employed 0,Customer 1,4,waiting to be attended
0,58,Oven 0,Employed 0,Customer 1,4,baking pizzas
...,...,...,...,...,...,...
0,160,Oven 0,Employed 1,Customer 8,4,baking pizzas
0,170,Oven 0,Employed 1,Customer 8,4,finished
0,85,Oven 0,Employed 0,Customer 9,4,waiting to be attended
0,137,Oven 0,Employed 0,Customer 9,4,baking pizzas
0,147,Oven 0,Employed 0,Customer 9,4,finished

sobre el filtro anterior ahora filtraremos de nuevo para que solo aparezcan los customers que tengan los 3 eventos

In [324]:
#Cuenta las ocurrencias de cada cliente
customer_counts = df_filtered['customer'].value_counts()

#Filtra los clientes que aparecen m치s de 2 veces
customers_more_than_3 = customer_counts[customer_counts >= 3].index

#Filtra el DataFrame para incluir solo esos clientes
df_filtered = df_filtered[df_filtered['customer'].isin(customers_more_than_3)]

ahora para el calculo del tiempo solo dejaremos los 2 eventos que ocupamos para el calculo del tiempo que seria waiting to be attended y finished

In [325]:
df_filtered =df_filtered[df_filtered['event'].isin(['waiting to be attended', 'finished'])]

In [326]:
df_filtered

,time,Oven,employed,customer,number_pizzas,event
0,0,Oven 0,Employed 0,Customer 0,4,waiting to be attended
0,32,Oven 0,Employed 0,Customer 0,4,finished
0,7,Oven 0,Employed 0,Customer 1,4,waiting to be attended
0,68,Oven 0,Employed 0,Customer 1,4,finished
0,86,Oven 0,Employed 1,Customer 10,2,waiting to be attended
...,...,...,...,...,...,...
0,114,Oven 0,Employed 0,Customer 7,3,finished
0,69,Oven 0,Employed 1,Customer 8,4,waiting to be attended
0,170,Oven 0,Employed 1,Customer 8,4,finished
0,85,Oven 0,Employed 0,Customer 9,4,waiting to be attended
0,147,Oven 0,Employed 0,Customer 9,4,finished

In [327]:
df_filtered["lead"] = df_filtered.groupby("customer")["time"].shift(-1)

df_filtered[ "time_on_event"] = df_filtered["lead"] - df_filtered["time"]

df_filtered = df_filtered[df_filtered['event'].isin(['waiting to be attended'])]

In [328]:
df_filtered

,time,Oven,employed,customer,number_pizzas,event,lead,time_on_event
0,0,Oven 0,Employed 0,Customer 0,4,waiting to be attended,32.0,32.0
0,7,Oven 0,Employed 0,Customer 1,4,waiting to be attended,68.0,61.0
0,86,Oven 0,Employed 1,Customer 10,2,waiting to be attended,195.0,109.0
0,104,Oven 0,Employed 0,Customer 11,1,waiting to be attended,165.0,61.0
0,119,Oven 0,Employed 1,Customer 12,2,waiting to be attended,220.0,101.0
0,138,Oven 0,Employed 0,Customer 13,4,waiting to be attended,198.0,60.0
0,143,Oven 0,Employed 1,Customer 14,2,waiting to be attended,245.0,102.0
0,145,Oven 0,Employed 1,Customer 15,4,waiting to be attended,282.0,137.0
0,148,Oven 0,Employed 1,Customer 16,1,waiting to be attended,301.0,153.0
0,156,Oven 0,Employed 0,Customer 17,2,waiting to be attended,221.0,65.0
0,173,Oven 0,Employed 0,Customer 18,4,waiting to be attended,254.0,81.0
0,177,Oven 0,Employed 0,Customer 19,3,waiting to be attended,292.0,115.0
0,22,Oven 0,Employed 1,Customer 2,4,waiting to be attended,58.0,36.0
0,191,Oven 0,Employed 0,Customer 20,2,waiting to be attended,315.0,124.0
0,207,Oven 0,Employed 0,Customer 21,4,waiting to be attended,348.0,141.0
0,208,Oven 0,Employed 1,Customer 22,2,waiting to be attended,326.0,118.0
0,228,Oven 0,Employed 0,Customer 23,1,waiting to be attended,366.0,138.0
0,246,Oven 0,Employed 1,Customer 24,3,waiting to be attended,358.0,112.0
0,253,Oven 0,Employed 0,Customer 25,3,waiting to be attended,394.0,141.0
0,267,Oven 0,Employed 0,Customer 26,3,waiting to be attended,422.0,155.0
0,280,Oven 0,Employed 0,Customer 27,3,waiting to be attended,451.0,171.0
0,293,Oven 0,Employed 0,Customer 28,2,waiting to be attended,474.0,181.0
0,35,Oven 0,Employed 1,Customer 3,2,waiting to be attended,83.0,48.0
0,345,Oven 0,Employed 1,Customer 33,4,waiting to be attended,404.0,59.0
0,357,Oven 0,Employed 1,Customer 34,4,waiting to be attended,441.0,84.0
0,367,Oven 0,Employed 1,Customer 35,1,waiting to be attended,460.0,93.0
0,384,Oven 0,Employed 1,Customer 36,1,waiting to be attended,479.0,95.0
0,37,Oven 0,Employed 1,Customer 4,3,waiting to be attended,114.0,77.0
0,51,Oven 0,Employed 0,Customer 5,1,waiting to be attended,86.0,35.0
0,61,Oven 0,Employed 1,Customer 6,1,waiting to be attended,133.0,72.0
0,68,Oven 0,Employed 0,Customer 7,3,waiting to be attended,114.0,46.0
0,69,Oven 0,Employed 1,Customer 8,4,waiting to be attended,170.0,101.0
0,85,Oven 0,Employed 0,Customer 9,4,waiting to be attended,147.0,62.0

teniendo el tiempo ya solo nos faltaria calcular el promedio de de mitos en antencion

In [329]:
average_time_on_event = df_filtered['time_on_event'].mean()

In [330]:
average_time_on_event

95.93939393939394

como observamos en promedio nos dio 95 minutos, siento este un tiempo muy alto, entonces lo que vamos a hacer es aumentar ya sea la cantidad de hornos o la cantidad de empleados para ver como bajamos este promedio a el estandar en pizzerias de 30 minutos

In [331]:
random.seed(107)

env = simpy.Environment()

pizzeria = Pizzeria( env , num_employed=4,num_customers=50,num_oven=2,num_doughs=150 )

env.run( until=480 ) ## 8 horas

 0:  Customer 0 is waiting to be attended
 0:  Customer 0 is ready to be attended by the Employed 2
 1: Employed 2 is meking 1 pizzas in 8 minutes to Customer 0
 9: Employed 2 is ready to bake 1 pizzas in Oven 1,  to  Customer 0
 10: Oven 1 is baking 1 pizzas in 8 minutes to Customer 0
 18:  Employed 2 finished bake 1 pizzas to Customer 0
 19:  Customer 0 was attended and leave the Pizzeria
 20:  Customer 1 is waiting to be attended
 20:  Customer 1 is ready to be attended by the Employed 2
 21: Employed 2 is meking 1 pizzas in 8 minutes to Customer 1
 27:  Customer 2 is waiting to be attended
 27:  Customer 2 is ready to be attended by the Employed 1
 28: Employed 1 is meking 2 pizzas in 16 minutes to Customer 2
 29: Employed 2 is ready to bake 1 pizzas in Oven 1,  to  Customer 1
 30: Oven 1 is baking 1 pizzas in 8 minutes to Customer 1
 38:  Employed 2 finished bake 1 pizzas to Customer 1
 39:  Customer 1 was attended and leave the Pizzeria
 44: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 2
 45:  Customer 3 is waiting to be attended
 45: Oven 0 is baking 2 pizzas in 9 minutes to Customer 2
 45:  Customer 3 is ready to be attended by the Employed 2
 46: Employed 2 is meking 2 pizzas in 16 minutes to Customer 3
 49:  Customer 4 is waiting to be attended
 49:  Customer 4 is ready to be attended by the Employed 0
 50: Employed 0 is meking 1 pizzas in 5 minutes to Customer 4
 54:  Employed 1 finished bake 2 pizzas to Customer 2
 55: Employed 0 is ready to bake 1 pizzas in Oven 0,  to  Customer 4
 55:  Customer 2 was attended and leave the Pizzeria
 56: Oven 0 is baking 1 pizzas in 9 minutes to Customer 4
 62: Employed 2 is ready to bake 2 pizzas in Oven 0,  to  Customer 3
 63: Oven 0 is baking 2 pizzas in 9 minutes to Customer 3
 65:  Customer 5 is waiting to be attended
 65:  Customer 5 is ready to be attended by the Employed 3
 65:  Employed 0 finished bake 1 pizzas to Customer 4
 66: Employed 3 is meking 2 pizzas in 14 minutes to Customer 5
 66:  Customer 4 was attended and leave the Pizzeria
 72:  Employed 2 finished bake 2 pizzas to Customer 3
 73:  Customer 3 was attended and leave the Pizzeria
 74:  Customer 6 is waiting to be attended
 74:  Customer 6 is ready to be attended by the Employed 2
 75: Employed 2 is meking 1 pizzas in 8 minutes to Customer 6
 80: Employed 3 is ready to bake 2 pizzas in Oven 0,  to  Customer 5
 81: Oven 0 is baking 2 pizzas in 9 minutes to Customer 5
 83: Employed 2 is ready to bake 1 pizzas in Oven 0,  to  Customer 6
 84: Oven 0 is baking 1 pizzas in 9 minutes to Customer 6
 88:  Customer 7 is waiting to be attended
 88:  Customer 7 is ready to be attended by the Employed 0
 89: Employed 0 is meking 4 pizzas in 20 minutes to Customer 7
 90:  Employed 3 finished bake 2 pizzas to Customer 5
 91:  Customer 5 was attended and leave the Pizzeria
 93:  Employed 2 finished bake 1 pizzas to Customer 6
 94:  Customer 6 was attended and leave the Pizzeria
 108:  Customer 8 is waiting to be attended
 108:  Customer 8 is ready to be attended by the Employed 2
 109: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 7
 109: Employed 2 is meking 3 pizzas in 24 minutes to Customer 8
 110: Oven 0 is baking 4 pizzas in 9 minutes to Customer 7
 118:  Customer 9 is waiting to be attended
 119:  Employed 0 finished bake 4 pizzas to Customer 7
 120:  Customer 7 was attended and leave the Pizzeria
 124:  Customer 10 is waiting to be attended
 124:  Customer 10 is ready to be attended by the Employed 0
 125: Employed 0 is meking 2 pizzas in 10 minutes to Customer 10
 133: Employed 2 is ready to bake 3 pizzas in Oven 1,  to  Customer 8
 134: Oven 1 is baking 3 pizzas in 8 minutes to Customer 8
 135: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 10
 136: Oven 0 is baking 2 pizzas in 9 minutes to Customer 10
 142:  Employed 2 finished bake 3 pizzas to Customer 8
 143:  Customer 8 was attended and leave the Pizzeria
 144:  Customer 11 is waiting to be attended
 144:  Customer 11 is ready to be attended by the Employed 1
 144:  Customer 9 is ready to be attended by the Employed 2
 145: Employed 1 is meking 4 pizzas in 32 minutes to Customer 11
 145: Employed 2 is meking 1 pizzas in 8 minutes to Customer 9
 145:  Employed 0 finished bake 2 pizzas to Customer 10
 146:  Customer 10 was attended and leave the Pizzeria
 153: Employed 2 is ready to bake 1 pizzas in Oven 1,  to  Customer 9
 154:  Customer 12 is waiting to be attended
 154: Oven 1 is baking 1 pizzas in 8 minutes to Customer 9
 154:  Customer 12 is ready to be attended by the Employed 3
 155: Employed 3 is meking 4 pizzas in 28 minutes to Customer 12
 162:  Employed 2 finished bake 1 pizzas to Customer 9
 163:  Customer 9 was attended and leave the Pizzeria
 165:  Customer 13 is waiting to be attended
 165:  Customer 13 is ready to be attended by the Employed 0
 166: Employed 0 is meking 1 pizzas in 5 minutes to Customer 13
 171: Employed 0 is ready to bake 1 pizzas in Oven 1,  to  Customer 13
 172: Oven 1 is baking 1 pizzas in 8 minutes to Customer 13
 177: Employed 1 is ready to bake 4 pizzas in Oven 0,  to  Customer 11
 178: Oven 0 is baking 4 pizzas in 9 minutes to Customer 11
 180:  Employed 0 finished bake 1 pizzas to Customer 13
 181:  Customer 14 is waiting to be attended
 181:  Customer 14 is ready to be attended by the Employed 2
 181:  Customer 13 was attended and leave the Pizzeria
 182: Employed 2 is meking 4 pizzas in 32 minutes to Customer 14
 183: Employed 3 is ready to bake 4 pizzas in Oven 1,  to  Customer 12
 184: Oven 1 is baking 4 pizzas in 8 minutes to Customer 12
 187:  Employed 1 finished bake 4 pizzas to Customer 11
 188:  Customer 11 was attended and leave the Pizzeria
 190:  Customer 15 is waiting to be attended
 192:  Employed 3 finished bake 4 pizzas to Customer 12
 193:  Customer 12 was attended and leave the Pizzeria
 194:  Customer 15 is ready to be attended by the Employed 3
 195: Employed 3 is meking 1 pizzas in 7 minutes to Customer 15
 202: Employed 3 is ready to bake 1 pizzas in Oven 0,  to  Customer 15
 203: Oven 0 is baking 1 pizzas in 9 minutes to Customer 15
 208:  Customer 16 is waiting to be attended
 212:  Employed 3 finished bake 1 pizzas to Customer 15
 213:  Customer 15 was attended and leave the Pizzeria
 214: Employed 2 is ready to bake 4 pizzas in Oven 0,  to  Customer 14
 214:  Customer 16 is ready to be attended by the Employed 3
 215: Oven 0 is baking 4 pizzas in 9 minutes to Customer 14
 215: Employed 3 is meking 3 pizzas in 21 minutes to Customer 16
 221:  Customer 17 is waiting to be attended
 224:  Employed 2 finished bake 4 pizzas to Customer 14
 225:  Customer 14 was attended and leave the Pizzeria
 235:  Customer 18 is waiting to be attended
 236: Employed 3 is ready to bake 3 pizzas in Oven 1,  to  Customer 16
 237: Oven 1 is baking 3 pizzas in 8 minutes to Customer 16
 245:  Employed 3 finished bake 3 pizzas to Customer 16
 246:  Customer 16 was attended and leave the Pizzeria
 247:  Customer 17 is ready to be attended by the Employed 3
 248: Employed 3 is meking 3 pizzas in 21 minutes to Customer 17
 250:  Customer 19 is waiting to be attended
 250:  Customer 19 is ready to be attended by the Employed 0
 251: Employed 0 is meking 4 pizzas in 20 minutes to Customer 19
 260:  Customer 20 is waiting to be attended
 265:  Customer 21 is waiting to be attended
 265:  Customer 21 is ready to be attended by the Employed 1
 266: Employed 1 is meking 1 pizzas in 8 minutes to Customer 21
 269: Employed 3 is ready to bake 3 pizzas in Oven 0,  to  Customer 17
 270: Oven 0 is baking 3 pizzas in 9 minutes to Customer 17
 271: Employed 0 is ready to bake 4 pizzas in Oven 1,  to  Customer 19
 272: Oven 1 is baking 4 pizzas in 8 minutes to Customer 19
 274: Employed 1 is ready to bake 1 pizzas in Oven 1,  to  Customer 21
 275:  Customer 22 is waiting to be attended
 275: Oven 1 is baking 1 pizzas in 8 minutes to Customer 21
 278:  Customer 23 is waiting to be attended
 279:  Employed 3 finished bake 3 pizzas to Customer 17
 280:  Customer 17 was attended and leave the Pizzeria
 280:  Employed 0 finished bake 4 pizzas to Customer 19
 281:  Customer 19 was attended and leave the Pizzeria
 281:  Customer 18 is ready to be attended by the Employed 3
 282: Employed 3 is meking 4 pizzas in 28 minutes to Customer 18
 282:  Customer 20 is ready to be attended by the Employed 0
 283: Employed 0 is meking 2 pizzas in 10 minutes to Customer 20
 283:  Employed 1 finished bake 1 pizzas to Customer 21
 284:  Customer 21 was attended and leave the Pizzeria
 285:  Customer 23 is ready to be attended by the Employed 1
 286: Employed 1 is meking 1 pizzas in 8 minutes to Customer 23
 291:  Customer 24 is waiting to be attended
 293: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 20
 294: Employed 1 is ready to bake 1 pizzas in Oven 1,  to  Customer 23
 294: Oven 0 is baking 2 pizzas in 9 minutes to Customer 20
 295: Oven 1 is baking 1 pizzas in 8 minutes to Customer 23
 296:  Customer 25 is waiting to be attended
 303:  Employed 0 finished bake 2 pizzas to Customer 20
 303:  Employed 1 finished bake 1 pizzas to Customer 23
 304:  Customer 20 was attended and leave the Pizzeria
 304:  Customer 23 was attended and leave the Pizzeria
 305:  Customer 24 is ready to be attended by the Employed 0
 305:  Customer 25 is ready to be attended by the Employed 1
 306: Employed 0 is meking 3 pizzas in 15 minutes to Customer 24
 306: Employed 1 is meking 2 pizzas in 16 minutes to Customer 25
 310: Employed 3 is ready to bake 4 pizzas in Oven 0,  to  Customer 18
 310:  Customer 26 is waiting to be attended
 311: Oven 0 is baking 4 pizzas in 9 minutes to Customer 18
 313:  Customer 27 is waiting to be attended
 320:  Employed 3 finished bake 4 pizzas to Customer 18
 321: Employed 0 is ready to bake 3 pizzas in Oven 1,  to  Customer 24
 321:  Customer 18 was attended and leave the Pizzeria
 322: Employed 1 is ready to bake 2 pizzas in Oven 1,  to  Customer 25
 322: Oven 1 is baking 3 pizzas in 8 minutes to Customer 24
 322:  Customer 22 is ready to be attended by the Employed 3
 323: Oven 1 is baking 2 pizzas in 8 minutes to Customer 25
 323: Employed 3 is meking 3 pizzas in 21 minutes to Customer 22
 327:  Customer 28 is waiting to be attended
 330:  Employed 0 finished bake 3 pizzas to Customer 24
 331:  Customer 24 was attended and leave the Pizzeria
 331:  Employed 1 finished bake 2 pizzas to Customer 25
 332:  Customer 25 was attended and leave the Pizzeria
 332:  Customer 26 is ready to be attended by the Employed 0
 333: Employed 0 is meking 2 pizzas in 10 minutes to Customer 26
 333:  Customer 28 is ready to be attended by the Employed 1
 334: Employed 1 is meking 1 pizzas in 8 minutes to Customer 28
 339:  Customer 29 is waiting to be attended
 339:  Customer 29 is ready to be attended by the Employed 2
 340:  Customer 30 is waiting to be attended
 340: Employed 2 is meking 3 pizzas in 24 minutes to Customer 29
 342: Employed 1 is ready to bake 1 pizzas in Oven 0,  to  Customer 28
 343: Employed 0 is ready to bake 2 pizzas in Oven 0,  to  Customer 26
 343: Oven 0 is baking 1 pizzas in 9 minutes to Customer 28
 344: Employed 3 is ready to bake 3 pizzas in Oven 0,  to  Customer 22
 344: Oven 0 is baking 2 pizzas in 9 minutes to Customer 26
 345: Oven 0 is baking 3 pizzas in 9 minutes to Customer 22
 346:  Customer 31 is waiting to be attended
 352:  Employed 1 finished bake 1 pizzas to Customer 28
 353:  Customer 28 was attended and leave the Pizzeria
 353:  Employed 0 finished bake 2 pizzas to Customer 26
 354:  Customer 26 was attended and leave the Pizzeria
 354:  Employed 3 finished bake 3 pizzas to Customer 22
 354:  Customer 30 is ready to be attended by the Employed 1
 355: Employed 1 is meking 1 pizzas in 8 minutes to Customer 30
 355:  Customer 22 was attended and leave the Pizzeria
 356:  Customer 27 is ready to be attended by the Employed 3
 357: Employed 3 is meking 3 pizzas in 21 minutes to Customer 27
 363:  Customer 32 is waiting to be attended
 363: Employed 1 is ready to bake 1 pizzas in Oven 1,  to  Customer 30
 364: Employed 2 is ready to bake 3 pizzas in Oven 1,  to  Customer 29
 364: Oven 1 is baking 1 pizzas in 8 minutes to Customer 30
 365: Oven 1 is baking 3 pizzas in 8 minutes to Customer 29
 368:  Customer 33 is waiting to be attended
 372:  Employed 1 finished bake 1 pizzas to Customer 30
 373:  Customer 30 was attended and leave the Pizzeria
 373:  Employed 2 finished bake 3 pizzas to Customer 29
 374:  Customer 29 was attended and leave the Pizzeria
 374:  Customer 31 is ready to be attended by the Employed 1
 375: Employed 1 is meking 2 pizzas in 16 minutes to Customer 31
 375:  Customer 32 is ready to be attended by the Employed 2
 376: Employed 2 is meking 4 pizzas in 32 minutes to Customer 32
 378: Employed 3 is ready to bake 3 pizzas in Oven 0,  to  Customer 27
 379: Oven 0 is baking 3 pizzas in 9 minutes to Customer 27
 387:  Customer 34 is waiting to be attended
 388:  Employed 3 finished bake 3 pizzas to Customer 27
 389:  Customer 27 was attended and leave the Pizzeria
 390:  Customer 33 is ready to be attended by the Employed 3
 391: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 31
 391: Employed 3 is meking 1 pizzas in 7 minutes to Customer 33
 392:  Customer 35 is waiting to be attended
 392: Oven 0 is baking 2 pizzas in 9 minutes to Customer 31
 398: Employed 3 is ready to bake 1 pizzas in Oven 1,  to  Customer 33
 399: Oven 1 is baking 1 pizzas in 8 minutes to Customer 33
 401:  Employed 1 finished bake 2 pizzas to Customer 31
 402:  Customer 31 was attended and leave the Pizzeria
 403:  Customer 35 is ready to be attended by the Employed 1
 404: Employed 1 is meking 2 pizzas in 16 minutes to Customer 35
 405:  Customer 36 is waiting to be attended
 405:  Customer 36 is ready to be attended by the Employed 0
 406: Employed 0 is meking 4 pizzas in 20 minutes to Customer 36
 407:  Employed 3 finished bake 1 pizzas to Customer 33
 408: Employed 2 is ready to bake 4 pizzas in Oven 0,  to  Customer 32
 408:  Customer 33 was attended and leave the Pizzeria
 409: Oven 0 is baking 4 pizzas in 9 minutes to Customer 32
 418:  Customer 37 is waiting to be attended
 418:  Employed 2 finished bake 4 pizzas to Customer 32
 419:  Customer 32 was attended and leave the Pizzeria
 420: Employed 1 is ready to bake 2 pizzas in Oven 0,  to  Customer 35
 420:  Customer 38 is waiting to be attended
 420:  Customer 34 is ready to be attended by the Employed 2
 421: Oven 0 is baking 2 pizzas in 9 minutes to Customer 35
 421: Employed 2 is meking 3 pizzas in 24 minutes to Customer 34
 426: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 36
 427: Oven 0 is baking 4 pizzas in 9 minutes to Customer 36
 429:  Customer 39 is waiting to be attended
 430:  Employed 1 finished bake 2 pizzas to Customer 35
 431:  Customer 40 is waiting to be attended
 431:  Customer 35 was attended and leave the Pizzeria
 432:  Customer 38 is ready to be attended by the Employed 1
 433: Employed 1 is meking 1 pizzas in 8 minutes to Customer 38
 435:  Customer 41 is waiting to be attended
 436:  Employed 0 finished bake 4 pizzas to Customer 36
 437:  Customer 36 was attended and leave the Pizzeria
 438:  Customer 37 is ready to be attended by the Employed 0
 439: Employed 0 is meking 4 pizzas in 20 minutes to Customer 37
 441: Employed 1 is ready to bake 1 pizzas in Oven 1,  to  Customer 38
 442:  Customer 42 is waiting to be attended
 442: Oven 1 is baking 1 pizzas in 8 minutes to Customer 38
 445: Employed 2 is ready to bake 3 pizzas in Oven 1,  to  Customer 34
 446: Oven 1 is baking 3 pizzas in 8 minutes to Customer 34
 450:  Employed 1 finished bake 1 pizzas to Customer 38
 451:  Customer 38 was attended and leave the Pizzeria
 452:  Customer 41 is ready to be attended by the Employed 1
 453:  Customer 43 is waiting to be attended
 453: Employed 1 is meking 4 pizzas in 32 minutes to Customer 41
 454:  Employed 2 finished bake 3 pizzas to Customer 34
 455:  Customer 34 was attended and leave the Pizzeria
 456:  Customer 39 is ready to be attended by the Employed 2
 457: Employed 2 is meking 2 pizzas in 16 minutes to Customer 39
 459: Employed 0 is ready to bake 4 pizzas in Oven 0,  to  Customer 37
 460: Oven 0 is baking 4 pizzas in 9 minutes to Customer 37
 468:  Customer 44 is waiting to be attended
 469:  Employed 0 finished bake 4 pizzas to Customer 37
 470:  Customer 37 was attended and leave the Pizzeria
 473: Employed 2 is ready to bake 2 pizzas in Oven 0,  to  Customer 39
 474: Oven 0 is baking 2 pizzas in 9 minutes to Customer 39
 479:  Customer 45 is waiting to be attended
 479:  Customer 45 is ready to be attended by the Employed 3

In [332]:
df_ovens = pd.DataFrame()
df_customers = pd.DataFrame()
df_employees = pd.DataFrame()
df_events = pd.DataFrame()

for p in pizzeria.ovens:
    df_ovens = pd.concat( [ df_ovens , p.dfO ] )
    df_events = pd.concat( [ df_events , p.dfE ] )
    
for p in pizzeria.employees:
    df_employees = pd.concat( [ df_employees , p.dfEp ] )
    df_events = pd.concat( [ df_events , p.dfE ] )

for p in pizzeria.customers:
    df_customers = pd.concat( [ df_customers , p.dfC ] )
    df_events = pd.concat( [ df_events , p.dfE ] )

df_filtered = df_events[df_events['event'].isin(['waiting to be attended', 'finished','baking pizzas'])]

customer_counts = df_filtered['customer'].value_counts()

customers_more_than_3 = customer_counts[customer_counts >= 3].index

df_filtered = df_filtered[df_filtered['customer'].isin(customers_more_than_3)]

df_filtered["lead"] = df_filtered.groupby("customer")["time"].shift(-1)
df_filtered[ "time_on_event"] = df_filtered["lead"] - df_filtered["time"]
df_filtered = df_filtered[df_filtered['event'].isin(['waiting to be attended'])]
average_time_on_event = df_filtered['time_on_event'].mean()

In [333]:
average_time_on_event

38.56410256410256

aumentando 1 horno y 2 empleados mas el promedio de atencion mejora bastante, ya sercano al promedio en general de las pizzerias, siendo este la mejor configuracion para una pizzeria